<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/about.css">
  <title>about</title>
</head>


<body> 

    <div class="container">

    <section class="about">
        <br>
        <p style="color:  #fefff7 ;font-size:19px;"><i>“Nature alone is antique and the oldest art a mushroom.”</i> ~ Thomas Carlyle <br><br>

Mushrooms!! Creamy Mushroom Bruschetta, Mushroom Risotto, Mushroom pizza, Mushrooms in a burger, and what not! Just by hearing the names of these dishes, people be drooling! Their flavor is one reason that takes the dish to the next level!<br><br><br>

But have you ever wondered if the mushroom you eat is healthy for you?<br> From over <strong>50,000 species</strong> of mushrooms only in North America, how will you classify the mushroom as edible or poisonous? Poisonous mushrooms can be hard to identify in the wild!<br><br><br>

    This webapp detects if a mushroom is <strong>edible or poisonous</strong> based on the specifications provided such as cap shape, cap color, gill color, etc. using different classifiers.</p>


    
    </section>

    <section class="prediction">

      <button class="btn btn-app"><a href='/webapp'>MUSHROOM CLASSIFICATION</a></button>
    </section>

    <section class="github">
<!--      <h1><a href="https://github.com/mmwachira/mushroom-classifier-ai"><p style="color:white">github</p></a></h1>-->
        <button class="btn btn-git"><a href="https://github.com/mmwachira/mushroom-classifier-ai">GITHUB </a></button>
    </section>

  </div>



</body>

</html>