<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="static/home.css">
  <title>mushroom classification</title>
</head>


<body> 

    <div class="container">
      
    <section class="About">
       <a href='/about'><button class="btn btn-abt">ABOUT</button></a>


    </section>

    <section class="prediction">
        <a href='/webapp'><button class="btn btn-app">MUSHROOM CLASSIFICATION</button></a>

    </section>

    <section class="github">
       <a href="https://github.com/mmwachira/mushroom-classifier-ai"><button class="btn btn-git">GITHUB</button></a>
    </section>

  </div>


</body>

</html>